body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h2{
    display:block;
    overflow: hidden;
    white-space:nowrap;
}
.stopper {
    animation: showup 7s 1;
    display: inline-block;
    overflow: hidden;
    color: #cd0c2b;
}
.slider {
    width: 220px;
    animation: reveal 7s 1;
    display: inline-block;
    overflow: hidden;
    color: #495057;
}
span{
    margin-right: 0px;
    animation: slidein 7s 1;
}

@keyframes showup{
    0%{opacity: 0;}
    20%{opacity:1;}
    80%{opacity: 1;}
    100%{opacity: 1;}
}

@keyframes slidein{
    0%{margin-right: -614px;}
    20%{margin-right: -614px;}
    35%{margin-right: 0px;}
    100%{margin-right: 0px;}
}

@keyframes reveal{
    0%{opacity:0; width:0px;}
    20%{opacity:1;width:0px;}
    30%{width: 220px;}
    80%{opacity: 1;}
    100%{opacity: 1; width: 220px;}
}

a{
    text-decoration: none;
}
.nav-bar {
    display: grid;
    grid-template-columns: 1fr;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.nav-right{
    display: flex;
}
.nav-left {
    font-size: 30px;
}

.nav-wrapper > .nav-right > div {
    margin-right: 20px;
    text-transform: uppercase;

}
.fa {
    font-weight: 700;
    line-height: 1.25;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;

}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
.fa-github{
    background-color: dimgrey;
    color: white;
}
.image{
    text-align:center;
}
.square-100 {
    width: 100px;
    height: 100px;
}
.bg-white {
    background-color: #fff;
}
.circle {
    border-radius: 50%;
}
.border {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
}

.p1 {
    padding: .5rem;
}
.image-box {
    
    background-color: #D3D3D3;
}
.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
}
.px3 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py3 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.text-heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 3rem;
    margin-bottom: .5rem;
    margin-top: 0;
    display: block;
    
}
.container {
    display: table;
    justify-content: space-between;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    
}
.about-me{
    width: 75%;
    float: left;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    
    line-height: 1.75rem;
   
}
h3, h4 , h5{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
ul{
    list-style: none;
}

